<?xml version="1.0" encoding="utf-8" ?>
<Gatsby>
  <Culture>en-US</Culture>
  <Source>.</Source>
  <Destination>_Site</Destination>
  <BaseUrl>/</BaseUrl>
  <ExcludePatterns>
    <ExcludePattern>.git</ExcludePattern>
    <ExcludePattern>.gitignore</ExcludePattern>
    <ExcludePattern>.gitattributes</ExcludePattern>
  </ExcludePatterns>
  <PageFileNameExtensions>
    <PageFileNameExtension>cshtml</PageFileNameExtension>
  </PageFileNameExtensions>
  <ExcerptSeparator><![CDATA[<!--more-->]]></ExcerptSeparator>
</Gatsby>
